.mainhead{
    font-family:"Georgia",Times New Roman,Times,serif;
    color: #ffffff;
    background: #4aaaa5;
    width:100%;
}

.secondhead{
    background:#ffffff;
    font-family: "Georgia",Times New Roman,Times,serif;
   color: #777777;
   width:100%;
   
}