
.mainhead{
    font-family:"Georgia",Times New Roman,Times,serif;
    color: #ffffff;
    background: #65b8bf;
    margin-bottom:-5px;
}

.navigation{
    background:#ffffff;
    font-family: "Georgia",Times New Roman,Times,serif;
   color: #777777;
   
}
.social-media{
    font-family: "Georgia",Times New Roman,Times,serif;
    color:#777777;
    font-size:24px;

}
a:hover{
    font-style:italic;
        
    }
    

.secondhead{
    color:#65b8bf;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top:10px;
    
}

p{font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color:#777777;

}

footer{
    background:#666666;
    text-align:center;
    border-top:8px solid #65b8bf;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    color:#fdfdfd;

}

.pichead{
    z-index:1;
    font-family:'Georgia', Times, Times New Roman, serif;
    color:#ffffff;
    background: #65b8bf;
    font-size:24px;
    width:100%;
    text-align:center;
    padding: 10px;


}
img {
    max-width: 100%;
  }
  
form{font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


body{ background-image: url(gravel.png);
}

